html {
    min-height: 100%;
}
body{
    background-color: lightblue;
    text-align: center;
    min-height: 100%;
}
.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 68px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background 2s, transform 0.3s 1s;
}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}